<div class="recipe__box">
  <%= link_to  new_recipe_path, method: :get do%>
    <i class="far fa-plus-square recipe__icon"></i>
  <% end %>
</div>
<% recipes.each do |recipe| %>
  <div class="card mb-3" style="max-width: 800px; max-height: 400px;">
    <div class="row recipe__index">
      <div class="col-md-4">
          <%= link_to recipe_path(recipe.id), method: :get do %>
            <%= attachment_image_tag recipe, :recipe_image, size: "250x200", format: 'jpeg', class: "bd-placeholder-img" %>
          <% end %>
      </div>
      <div class="col-md-8 card-body">

          <h5 class="card-title"><%= recipe.recipe_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= recipe.phrase %></h6>
          <p class="card-text recipe__food">
            材料：
            <% recipe.ingredients.each do |ingredient| %>
              <%= ingredient.ingredient_name %>
            <% end %>
          </p>
          <p class="card-text"><small class="text-muted">Last updated <%= recipe.updated_at.to_s(:datetime_jp) %></small></p>

      </div>
    </div>
  </div>
<% end %>
<%= paginate recipes %>
